* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  margin: 0;
}

.wrapper {
  background: linear-gradient(#eee,#318ce7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_container {
  background: #318ce7;
  height: 70vh;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  width: 50%;
}

input[type=text] {
  background: transparent;
  border: 0;
  border-bottom: solid 1px #fff;
  width: 100%;
  display: block;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-right: 30px;
  font-size: 20px;
  outline: none;
}

::placeholder {
  color: #fff;
}

input[type=text]:active{
  background: transparent;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #fff;
  color: #318ce7;
  font-weight: 100;
}

button:active {
  outline: none;
  border: 0;
}

.info {
  width: 100%;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 20px;
}

.info_key {
  color: #fff;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  font-weight: 400;
}

.info_key:last-child {
  border: 0;
}

.info_value {
  color: #fff;
  font-weight: 200;
}